<?php
/** @var \Zend\Form\Form $form */
$form = $this->form;
$form->setAttribute('action', $this->url());
$form->setAttribute('class', 'create-form');
$form->prepare();

echo $this->form()->openTag($form);

foreach ($form as $element) {
?>

    <div class="row form-group">
        <div class="col-md-2">
            <?= $element->getName() ?>:
        </div>

        <div class="col-md-10">
            <?=  $this->formElement($element); ?>
            <?= $this->translate($this->formElementErrors($element)); ?>
        </div>
    </div>

    <?php
}

echo $this->form()->closeTag();
