<?php if (count($this->entities)):
    $headers = $this->entities[0]->toArray();
    ?>
    <div class="row hidden-sm hidden-xs">
        <?php foreach ($headers AS $key => $val): ?>
            <div class="cell"><?php echo $key; ?></div>
        <?php endforeach; ?>
    </div>

    <?php foreach ($this->entities AS $entity): ?>
    <?php echo $this->render('system/row.phtml', ['entity' => $entity, 'headers' => $headers, 'associated' => $this->associated]) ?>
<?php endforeach; ?>

<?php else: ?>
    <h1>Brak wyników</h1>
<?php endif; ?>
<a href="<?php echo $this->url($this->createRoute); ?>" class="btn btn-info" role="button">Dodaj</a>
