<div class="row" data-id="<?php echo $entity->getId(); ?>">
    <?php
    $headers = $this->headers;
    reset($headers); ?>
    <?php $i = 0; foreach ($entity->toArray() AS $key => $val): ?>
    <?php if (is_object($val)): ?>
    <?php
    $options = [];
    foreach ($this->associated[key($headers)] as $option) {
        array_push($options, $option->getId());
    }
    ?>
    <div class="cell col-sm-12 col-xs-12 text-center">
                <span class="hidden-md hidden-lg font-bold">
                    <?php echo ucfirst(key($headers));?>: </span>
        <a href="<?php echo $val->getUrl(); ?>">
            <div data-name="<?php echo key($headers); ?>" <?php if (array_key_exists(key($headers), $this->associated)) : ?>data-options="<?php  echo implode(',',$options); ?>" data-type="select"<?php endif; ?>>
            <?php echo $val->getId(); ?></a>
    </div>
</div>
<?php else: ?>
    <?php
    $content = $val;

    if ($i == 0) {
        $content = '<a href="' . $entity->getUrl() . '">' . $content . '</a>';
    }
    ?>

    <div class="cell col-sm-12 col-xs-12 text-center"><span class="hidden-md hidden-lg font-bold"><?php echo ucfirst(key($headers));?>: </span>
        <div data-name="<?php echo key($headers); ?>"><?php echo $content; ?></div>
    </div>
<?php endif; ?>
<?php $i++;
next($headers);
endforeach; ?>
<div class="cell col-sm-12 col-xs-12 text-center"><span class="glyphicon glyphicon-floppy-remove delete"></span></div>
</div>