
<?php if ($this->entity != null): ?>
    <?php foreach ($this->entity->toArray() AS $key => $val): ?>
        <?php if (is_object($val)): ?>
            <div class="row">
                <div class="col-md-3"><strong><?php echo htmlspecialchars($key); ?></strong>:</div>
                <div class="col-md-9"></div>
            </div>
            <?php foreach ($val->toArray() AS $cKey => $cVal): ?>
                <div class="row">
                    <div class="col-md-3 col-md-offset-1"><strong><?php echo htmlspecialchars($key . ' - ' .$cKey); ?></strong>:</div>
                    <div class="col-md-8"><?php echo htmlspecialchars($cVal); ?></div>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <div class="row">
                <div class="col-md-3"><strong><?php echo htmlspecialchars($key); ?></strong>:</div>
                <div class="col-md-9"><?php echo htmlspecialchars($val); ?></div>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php else: ?>
    <h1>Brak wskazanego zasobu</h1>
<?php endif; ?>