<div class="row">
    <div class="col-md-3 col-sm-12"><strong class="visible-sm-inline visible-xs-inline">Nagłówek 1</strong> Warć 1</div>
    <div class="col-md-3 col-sm-12"><strong class="visible-sm-inline visible-xs-inline">Nagłówek 2</strong> Wość 2</div>
    <div class="col-md-3 col-sm-12"><strong class="visible-sm-inline visible-xs-inline">Nagłówek 3</strong> Wość 3</div>
    <div class="col-md-3 col-sm-12"><strong class="visible-sm-inline visible-xs-inline">Nagłówek 4</strong> Wartdsadsość 4</div>
</div>