@media screen and (min-width: $md+px) {
  .table {
    display: table;
    & > .row {
      display: table-row;
      &:nth-child(1) {
        font-weight: bold;
      }
      & > .cell {
        display: table-cell;
        float: none;
        width: unset;
      }
    }
  }
}