a {
    &:hover {
        text-decoration: none;
    }
}

.font-bold {
  font-weight: bold;
}
nav {
   & a {
        display: block;
        text-align: center;
        padding: 20px 10px;
        text-decoration: none;
        font-size: 1.5em;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        border-radius: 10px;

       &:hover {
           background: #5CB85C;
           color: white;

       }
    }

}

.table {
  & .row {
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;

    &:nth-child(odd) {
      background: #e4e4e4;
    }
    & .cell {
      text-align: center;
    }
  }
}

.table [data-name], .table [data-name*=""] {
  transition: border 1s;
  -webkit-transition: border 1s;
  -o-transition: border 1s;
  -moz-transition: border 1s;
  padding: 5px;
  margin:2px;
}
.table [data-name]:hover, .table [data-name*=""]:hover {
  cursor: pointer;
  border: 1px solid grey;
  margin: 1px;
}

.delete {
  &:hover {
    cursor: pointer;
  }
  color:#c9302c;
}

.save {
  &:hover {
    cursor: pointer;
  }
  color: #4cae4c;
}


.deleting {
  background-color:red;
}

.active {
  font-weight: bold;
}
.page-limit {
 display: inline-block;
}