<div class="pull-right page-limit-container">
    <?php for ($a = 10; $a <= 100; $a+=10): ?>
        <div class="page-limit " >
            <a href="#" <?php echo ($a === $this->limit) ? 'class="active"' : ''; ?> data-limit="<?php echo $a; ?>"> <?php echo $a; ?></a>
        </div>

    <?php endfor; ?>
</div>