<div class="pull-left page-limit-container page-item">
    <?php if ($this->offset === 0) { $this->offset = 1; } ?>
    <?php if ($this->offset > 4) : ?>
    <?php for ($a = $this->offset-1; $a <= $this->offset +1 ;$a++) : ?>
    <div class="page-limit <?php echo ($a === $this->offset) ? 'active' : ''; ?>" data-page="<?php echo $a; ?>">
        <?php echo $a; ?>
    </div>
    <?php endfor; ?>
    <?php elseif ($this->offset <= 4) : ?>
    <?php for ($a = 1; $a <= 4; $a++): ?>
            <div class="page-limit">
               <a href="#" <?php echo ($a === $this->offset) ? 'class="active"' : ''; ?> data-page="<?php echo $a; ?>"> <?php echo $a; ?></a>
            </div>

            <?php endfor; ?>
        <div class="page-limit">
            ...
        </div>
        <div class="page-limit">
            <a href="#" <?php echo ($this->pages === $this->offset) ? 'class="active"' : ''; ?> data-page="<?php echo $this->pages; ?>"> <?php echo $this->pages; ?></a>
        </div>
    <?php endif; ?>
</div>