<?php echo $this->doctype();
if ($this->limit === 0) { $this->limit = 20;}
?>

<html lang="pl">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/main.css');
    ?>


</head>
<body>
<header class="container">
    <nav class="navbar" role="navigation">
        <div class="col-md-4 col-sm-12">
            <a href="/cities"><?php echo $this->translate("cities", 'z'); ?></a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="/countries"><?php echo $this->translate("countries", 'z'); ?></a>
        </div>
        <div class="col-md-4 col-sm-12">
            <a href="/languages"><?php echo $this->translate("languages", 'z'); ?></a>
        </div>
    </nav>
</header>
<section class="container">
    <div class="row">
        <?php echo $this->render('application/parts/pagination', ['offset' => $this->offset, 'pages' => (int) ($this->count/($this->limit))]); ?>
        <?php echo $this->render('application/parts/search-by-name'); ?>
        <?php echo $this->render('application/parts/page-limit', ['limit'  => $this->limit]); ?>
    </div>
    <div class="table" data-entity="/<?php echo $this->em ?>">
        <?php echo $this->content; ?>
    </div>
</section>
<!-- Scripts -->
<?php echo $this->headScript()
    ->prependFile($this->basePath() . '/js/main.min.js');
; ?>

<?php echo $this->inlineScript() ?>
</body>
</html>
